@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@import "./fonts/style.css";

@theme {
  --font-sans: var(--font-ibm-plex-sans);
  --font-sans-h: var(--font-helvetica);
  --font-rubber-biscuit: var(--font-rubber-biscuit);
}

:root {
  --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
  --font-helvetica: 'Helvetica', sans-serif;
  --font-rubber-biscuit: 'Rubber Biscuit', sans-serif;
  font-family: var(--font-ibm-plex-sans);
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: var(--font-ibm-plex-sans);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}

